<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h5>Fuknicók</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Időpont foglalás</a></li>
          <li><a class="text-muted" href="#">Időpont lemondás</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4">
        <h5>Kapcsolat</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="tel:+36 20 56 1233 456">+36 20 51 103 93</a></li>
          <li><a class="text-muted" href="mailto:info@streetbarber.hu">info@streetbarber.hu</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4">
        <h5>Róluk</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Csapat</a></li>
          <li><a class="text-muted" href="#">ÁFSZ</a></li>
          <li><a class="text-muted" href="#">Adatvédelmi nyilatkozat</a></li>
          <li><a class="text-muted" href="#">Cookie tájékoztató</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
